body {
    background-image: url(../Images/BlueBackground.jpg);
background-size: fill;
background-repeat: no-repeat;
}

#playerbox {
    height: 500px;
    width: 500px;
    align-items: center;
    outline: 1px solid cyan;
    margin: 10px auto;
    background-color: white;
    margin-top: 100px;
}

#menubox {
    outline: 1px solid cyan;
    width: 500px;
    height: 160px;
    display: flex;
    padding: 10px;
    margin: 0 auto;
    justify-content: space-evenly;
    background-color: gray;
    flex-wrap: wrap;
}

#canvas {
    background-color: rgb(94, 94, 94);
}

button {
    background-color: #add4d7;
    outline: 3px ridge rgb(103, 103, 103);
    border-radius: 5px;
    height: 60px;
    width: 80px;
    justify-content: space-evenly;
    margin: auto;
    line-height: 20px;
}

#Add, #Amount{
    background-color: white;
    font-size: large;
    font-weight: 700;
    width: 160px;
    display: flex;
    flex-wrap: wrap;
}

#addbutton {
    font-size: 0.6em;
    font-weight: 800;
    padding: 0;
    line-height: 10px;
}

input {
    width: 110px;
    margin: auto;
}

.icons {
    height: 35px;
    width: 40px;
    align-content: center;
}

#ballCount {
    color: rgb(0, 157, 255);
    -webkit-text-stroke: 1px black;
    font-size: 3em;
}
